@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.app {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 59px;
  @include bp(desktop-sm) {
    padding-top: 0;
  }
}
