//colors

$main-color: #1f1e25;
$seconday-color: #f6f7ff;
$accent-color: #2c36f2;
$accent-adition-color: #2028b6;
$helper-color: #707c87;
$helper-dark-color: #394959;

// break-point variables

$desktop-lg: 1366px;
$desktop-md: 1280px;
$desktop-sm: 1023px;
$tablet: 767px;
$mobile: 320px;
