//colors

$main-color: #1F1E25;
$seconday-color: #F6F7FF;
$accent-color: #2C36F2;
$helper-color: #707c87;

// break-point variables

$desktop-lg: 1366px;
$desktop-md: 1280px;
$desktop-sm: 1023px;
$tablet: 767px;
$mobile: 320px;
